@font-face {
    font-family: 'Tangerine';
    src: url('../fonts/Tangerine-Regular.ttf') format('truetype');
    /* Add other font formats if available */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Tangerine', sans-serif;
    /* Other styling for the body */
  }
  